* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav {
    background-color: cornflowerblue;
}

#header a {
    text-decoration: none;
    font-family: 'Birthstone', cursive;
    color: black;
}