* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 10px;
    background-color: cornflowerblue;
    color: white;
}

.menu-item {
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
}

.menu-item:not(:last-child) {
    border-right: solid white medium;
}

.menu-item:hover {
    color: black;
}

#home-button {
    font-size: 40pt;
    font-family: 'Birthstone', cursive;
    margin: 15px;
    cursor: pointer;
    width: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

main {
    margin: 10px 20px;
}